<style>
span{font-size: .75em; color: #bbb;}
#uin{padding: 10px;}
input, #uin{border-radius: 5px; border: 1px solid #ccc;}
.error{border: 1px solid red;}

.h{display: none;}
#todo{color:green; font-family:sans-serif; font-size: .8em;}
.todoul{list-style:decimal-leading-zero;}
</style>



<h4>Add Vuulke Widget to your Blogger </h4>
<div id="uin">
	<div class=h> 
	<b>Please Enter</b> <br><br> 
	Blogger URL <br><input type="text" id="url" />    <span class="info"> i.e. http://nafis.blogger.com</span> <br>
	<br>
	Email 		<br> <input type="text" id="email" />  <span class="info"> i.e. ravi@vuukle.com </span> <br>
</div>
<form method="post" action="http://www.blogger.com/add-widget" target="_blank">
  <input type="hidden" name="infoUrl" value="http://vuukle.com">
  <input type="hidden" name="logoUrl" value="">
  <input type="hidden" name="widget.title" value="Vuukle for Blogger!">
  <textarea name="widget.content" style="display:none;">      <!-- vuulke  Commments! -->

  </textarea>
  
  <textarea  type="hidden" name="widget.template"  id="pino" style="display:none;"> 
  &lt;b:includable id='main'&gt; 
    &lt;style&gt;
    .post-title .vkcm{float:right; text-align:center;vertical-align:middle; border-radius: 5px; border: 1px solid orange;height:100px;width:100px;color:black;font-size:.75em; }
    .post-comment-link { visibility: hidden; }
    &lt;/style&gt;
  		&lt;script&gt;
  		
    </textarea>
  <input type="submit" name="go" value="Add Vuulke to Your Blogger">
</form>

<div class=h id="add">
var conf = {
                    url: &quot;&lt;data:blog.canonicalUrl/&gt;&quot;,
                    blog_url: &quot;&lt;data:blog.url/&gt;&quot;,
                    home_url: &quot;&lt;data:blog.homepageUrl/&gt;&quot;,
                    current_url: &quot;&lt;data:blog.canonicalUrl/&gt;&quot;
                    
            }, 
            load = function(src, onload){ 
                var i = document.createElement('script');
                i.src = src;
                i.async = true; 
                if(typeof onload === 'function') {
                  i.onload = onload;
              }
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(i);
             };

          //  console.log('wow!', conf);
          load('http://vuukle.com/blogger/vuulke.js');
          //console.log('called the js!');
      &lt;/script&gt;
        &lt;/b:includable&gt;

</div>


</div>

<script>
  var e = function(id){ return document.getElementById(id);};
  
  
  e('pino').innerHTML += 'var biz_id = "'+location.hash.substring(1)+'" ;'+e('add').innerHTML;

  console.log(e('pino').innerHTML);
</script>


</div>